<script>
    $("#btnSave").click(function(){
        output = "";
        console.log('Save button clicked');
        let sid = $("#stuid").val();
        let nm = $("#nameid").val();
        let em = $("#emailid").val();
        let pw = $("#passwordid").val();
        let csrf = $("input[name='csrfmiddlewaretoken']").val();

        console.log(nm);
        if (nm == ""){
            console.log('please enter your name')
        }
        else if (em == ""){
            console.log('please enter your email id')
        }
        else if (pw == ""){
            console.log('please enter password')
        }
        else{
            mydata = {stuid: sid, name: nm, email: em, password: pw, csrfmiddlewaretoken: csrf};
            $.ajax({
                url: "{% url 'save' %}",
                method: 'POST',
                data: mydata,
                success: function(data){
                    let x = data.student_data;
                    //console.log(data)
                    if (data.status=='save'){
                        console.log('Form submitted successfully');
                        $('form')[0].reset();

                        for (i=0; i<x.length; i++){
                            output+= "<tr><td>" + x[i].id + "</td><td>" + x[i].name + "</td><td>" + x[i].email + "</td><td>" + x[i].password + "</td><td><input class='btn btn-sm btn-primary' type='button' value='Edit' data-sid=" + x[i].id + "><input class='btn btn-sm btn-danger' type='button' value='Delete' data-sid=" + x[i].id + "></td></tr>";
                        }
                        $("#tbody").html(output);
                        $("#stuid").val("");
                         
                        
                    }
                    if(data.status==0){
                        $('#stuid').val("");
                        $('form')[0].reset();
                        console.log('Unable to save data');
                    }
                }
            });
        }

    });



    //Delete data
    $("tbody").on('click', '.btn-del', function(){
        console.log('Delete button clicked');
        let id = $(this).attr('data-sid');
        mythis = this;
        console.log(id);
        let csr = $("input[name='csrfmiddlewaretoken']").val(); 
        mydata = {sid: id, csrfmiddlewaretoken: csr};
        $.ajax({
            url: "{% url 'delete' %}",
            method: "POST",
            data: mydata,
            success: function(data){
                if (data.status == 1){
                    console.log('Item deleted successfully');
                    $(mythis).closest('tr').fadeOut();
                }
                if (data.status == 0){
                    console.log("Can't delete data");
                }
             }
        });
    });



     //Edit data
     $("tbody").on('click', '.btn-edit', function(){
        console.log('Edit button clicked');
        let id = $(this).attr('data-sid');
         console.log(id);
        let csr = $("input[name='csrfmiddlewaretoken']").val(); 
        mydata = {sid: id, csrfmiddlewaretoken: csr};
        $.ajax({
            url: "{% url 'edit' %}",
            method: "POST",
            data: mydata,
            //dataType: 'json',
            success: function(data){
                console.log(data);
                $('#stuid').val(data.id);
                $('#nameid').val(data.name);
                $('#emailid').val(data.email);
                $('#passwordid').val(data.password);
            }
        });
    });
</script>